
{% load static %}
<link rel="stylesheet" href="{% static 'assets\css\bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets\css\my_css.css' %}">

<!-- Favicons for different platforms -->
<link rel="apple-touch-icon" sizes="180x180" href="{% static "assets/favicon/apple-touch-icon.png" %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static "assets/favicon/favicon-32x32.png" %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static "assets/favicon/favicon-16x16.png" %}">
<link rel="manifest" href="{% static "assets/favicon/site.webmanifest" %}">
<title>{{titel}}</title>
<script type="application/ld+json">{
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "",
    "url": "/",
    "logo": "{% static 'assets\img\Emblemaasbob.png' %}"
 }
</script>

<style>
    h1 {text-align: center;}
</style>
<h1> Quduqlar bosh sahifasi</h1>
{% block content %}
<body>
    <section>
        <!-- Контент -->
        <div class="container">
            <div class="row mt-1">
                <div class="col-lg-10">
                    <!-- Контент на странице -->
                    <div class="row">
                        <!-- quduqlar -->
                        {% for q in qdq %}
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                <img src="/static/assets/{{ q.image.url }}" class="card-img-top" alt="{{ q.qudug_nomi}}">
                                <div class="card-body">
                                    <a href="{% url "main:home" q.slug %}">
                                        <p class="card-title">Quduq lokatsiyasi {{q.Location}}</p>
                                    </a>
                                    <p class="card-text text-truncate">Bu quduq suvni sathi va sifatini aniqlaydi</p>
                                    <p class="product_id">id: {{q.id}}</p>
                                    <div class="d-flex justify-content-between">
                                        <span class="badge bg-warning text-dark">{{q.qudug_nomi}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock  %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; TUIT, Associate Professor Department of "Computer Systems", PHD, Rajabov FF - 2024</p>
    </div>
</footer>